{%	extends 'base.html'	%}


{% block head %} 
	<title>Home - Study Time Table</title>
{% endblock %}

{% block body %}
<body id="page-top"><a class="menu-toggle rounded" href="#"><i class="fa fa-bars"></i></a>

	<!-- Navigation button -->
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container">
        	<button data-toggle="collapse" class="navbar-toggler d-none" data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand"><a class="nav-link active js-scroll-trigger" href="#page-top">Study Time Table</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#page-top">Home</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#about">Status</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#services">Books</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Schedule</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Setttings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of  Navigational button -->

    <!-- Header containing start of app -->
    <header class="d-flex masthead" style="background-image:url('assets/img/bg-masthead.jpg');">
        <div class="container my-auto text-center">
            <h1 class="mb-1">Study Time Table</h1>
            <h3 class="mb-5"><em>Your study manager</em></h3><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#about">Get Started</a>
            <div class="overlay"></div>
        </div>
    </header>
    <!-- End of Header -->

    <!-- Footer containing social links -->
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-github"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small">Copyright &nbsp;© Study Time Table 2021</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
    </footer>
    <!-- End of footer -->
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/stylish-portfolio.js"></script>
</body>
{% endblock %}
</html>